header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

    nav ul li{
        display: flex;
        font-size: 18px;
        text-indent: 15px;
        border: 2px solid;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-variant: small-caps;
        text-transform: capitalize;
        border-radius: 8px;
        margin-right: 25px;
        color: rgb(15, 15, 15);
        box-shadow: 1px 1px 8px 2px white;
        transition: 0.7s;
        
        
        
    }

    ul{
        padding-left: 0px;
    }

    h1{
        display: inline-block;
        font: $header-h1;
        font-weight: 600;
        color: rgb(255, 254, 254);
        border-bottom: 4px solid white;
        border-radius: 10px;
        border-width: 4px;
        margin-left: 55px;
        margin-top: 20px;
        
        
        
    }
    
    
    
}


.hover-menu{
    margin-right: 2vw;
    transition: 0.7s;
}

.hover:hover{
    background-color: rgb(141, 138, 138);
    transition: 0.7s;
    transform: scale(1.2);
    
}
.hover-menu:hover{
    background-color: rgb(167, 162, 162);
    transition: 0.7s;
    box-shadow: 1px 1px 5px 2px;

}
.collapse li{
    border: 2px solid white;
    border-radius: 20px;
    
}





body header h1{
    display: inline-block;
    
}