.section-menu h2{
    text-align: center;
    font-size: clamp(28px, 5.5vw, 5.8vw ) ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-variant: small-caps;
    margin-bottom: 20px;
    border-bottom: solid black;
    justify-content: center;
    border-width: 0 0 15px 0;
    border-style: double;
    color: rgb(0, 0, 0);
    
    
    
}
.article-menu{
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 150px 20vw 0 20vw;
    padding-bottom: 20vh;
    border-radius: 30px;
    border: 5px solid black;
    border-left-color: rgb(243, 83, 9);
    border-right-color: rgb(243, 83, 9);

    h2{
        color: rgb(248, 248, 248);
        border-bottom: 3px solid;
        border-bottom-color: rgb(243, 83, 9);
        display: inline-block;
        border-radius: 70px;
        font-size: clamp(20px, 2.8vw, 3.2vw)
    }
    
    
}
 
.article-menu ul{
    justify-content: center;
    align-items: center;
    margin: 15px 0 60px 0;

    li, .puntos{
        color: white;
        font-size: 1.3vw;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-variant: small-caps;
        text-transform: capitalize;
        padding: 2px 8px 25px 8px;
    }
}

.puntos{
    letter-spacing: 0.5vw !important;
}
.div-menu{
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 150px 20vw 0 20vw;
    padding-bottom: 20vh;
    border-radius: 30px;
    border: 5px solid black;
    border-left-color: rgb(243, 83, 9);
    border-right-color: rgb(243, 83, 9);

    h2{
        color: rgb(248, 248, 248);
        border-bottom: 3px solid;
        border-bottom-color: rgb(243, 83, 9);
        display: inline-block;
        border-radius: 70px;
        font-size: clamp(20px, 2.8vw, 3.2vw)
    }

    ul{
        padding: 2px 8px 25px 8px;
    }
}


 
.article-platos ul{
    justify-content: center;
    align-items: center;
    margin: 15px 0 60px 0;

    li{
        color: white;
        font-size: 1.3vw;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-variant: small-caps;
        text-transform: capitalize;
        padding: 2px 8px 25px 8px;
    }
    
}
.puntos{ 
    color: white;
    font-size: 1.3vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    text-transform: capitalize;
    padding: 2px 8px 25px 8px;

}